/* Override from Main.css ------------------------------------------------------- */

#main {
    padding-bottom: 0px;
    padding-right: 0px;
}

h2 {
    margin-right: 20px;
}

/* Styles for the page ---------------------------------------------------------- */

.portfolioItem {
    float: left;
    width: 50%;
    overflow: hidden;
    margin: 0px;
    padding-right: 20px;
    box-sizing: border-box;
}

.portfolioItemRelativeBox { position: relative; }

.portfolioItemPicture {
    width: 100%;
    margin-bottom: 18px;
}

.portfolioItemText {
    display: block;
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    bottom: 35px;
}

 /* Media Queries ------------------------------------------------------------------------------------------------- */

 @media screen and (max-width: 540px) 
 {
    .portfolioItem { width: 100%; }
 }

 @media screen and (min-width: 720px) 
 {
    .portfolioItem { width: 33.33%; }
 }